body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    color: #333;
}

.header {
    background-color: #33a;
    color: #fff;
    box-shadow: 9px 6px 5px -3px rgba(0,0,0,0.75);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

.tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

.container {
    width: 100%;
    padding: 0;
    text-align: left;
    border: 1px solid #331;
    margin: 0 auto;
}

.post {
    padding: 1em;
}

.post h1 {
    font-size: 20px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 0.5em;
}